@import "variables";

.searchInputRes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid $border;
  height: 36px;
  box-sizing: border-box;
  padding-right: 12px;
  background-color: $button;
  border-radius: 8px;
  position: relative;
  z-index: 5;
  gap: 10px;
}

.searchCounter {
  display: inline-flex;
  background-color: $primary-light;
  border-radius: 8px;
  white-space: nowrap;
  line-height: 26px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  color: $text;
  min-width: auto;
  cursor: pointer;
  position: relative;

  &__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: transparent;
  }

  &__list {
    padding: 10px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 3px 30px #00000029;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }
}

.searchKeys {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  min-width: 0;

  .searchKeys-content {
    min-width: 50px;
    flex: 0 1 auto;
  }

  .searchKey {
    display: inherit;
    align-items: inherit;
    background-color: $primary-light;
    border-radius: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 26px;
    padding: 0 8px;
    font-size: 12px;
    color: $text;
    gap: 5px;
    min-width: 0;
    box-sizing: border-box;

    &--big {
      padding: 2px 5px 2px 15px;
    }

    .clear-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      position: relative;
      cursor: pointer;
      margin-left: auto;

      &:hover {
        background-color: $white;
        border-radius: 50%;
      }
    }
  }
}

.searchInput-container {
  min-width: 50px;

  .searchInput {
    width: auto;
    flex-shrink: 1;
    background-color: transparent;
    padding: 0 0 0 12px;
    min-width: 19px;
    font-size: 14px;
    max-width: 500px;
    border: none;
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}

dah-search {
  flex: 0 1 500px;
  min-width: 0;
  position: relative;
  height: 36px;

  .openSearch {

    i {
      display: block;
      cursor: pointer;

      &:hover:before {
        color: $primary;
      }
    }
  }

  .cleanSearch i {
    display: block;
    cursor: pointer;
  }

  .cleanSearch:hover i:before {
    color: $alternate-red;
  }
}

.closeSearch {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dahPagesHeader__filter {
  display: flex;
  border-radius: 10px;
  position: absolute;
  left: -16px;
  top: -16px;
  right: -16px;
  padding: calc(16px + 36px + 15px) 6px 16px 16px;
  background-color: $white;
  box-shadow: 0 3px 30px #00000029;
  z-index: 3;
  font-family: Lato, sans-serif;
  gap: 15px;
  font-size: 14px;
  box-sizing: border-box;
  flex-direction: column;
}

.range-changer.range-changer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 40px;
  min-width: 40px;
}
