//colors

$primary-dark: #3E8D51;
$primary: #4AA25F;
$primary-light: #C4E7C5;
$primary-lighten: #F5FCF3;
$messenger: #EAFFEA;
$border: #E1E6E1;
$button: #F7FAF7;
$text: #222216;
$text-light: #606B69;
$disabled: #C3C3C3;
$background: #F7F7F7;
$white: #FFFFFF;
$accent: #E58E44;
$alternate-blue: #00B0FF;
$alternate-red: #E38377;
$alternate-purple: #888FEB;
$alternate-group: #F2FBFF;

$title-light: #94A594;

$warning: #ffffd3;

$hover-light: #C7CEC6;

$matchedBg: #F2FBFF;
$matchedBorder: #A0D9F2;

// document table colors
$row-focused: $primary-lighten;
$element-focused: $primary-light;


//media sizes
$topMenuMob: 1365px;
$laptopBig: 1024px;
$laptop: 960px;
$tableSmall: 767px;
$mobileBig: 480px;
$mobileSmall: 375px;


//document table sizes
$documentRow_number: 47px;
$documentRow_price: 120px;
$documentRow_amount: 120px;
$documentRow_balanceAccount: 120px;
$documentRow_area: 100px;
$documentRow_floor: 65px;
$documentRow_registered: 90px;
$documentRow_living: 100px;
$documentRow_unit: 100px;
$documentRow_count: 100px;
$documentRow_consumed: 120px;
$documentRow_tableActions: 74px;
$documentRow_date: 135px;

